<?xml version="1.0" encoding="utf-8" ?>
<TrainingTweak.Settings>

  <!-- ////////////////////////////////////// -->
  <!--        Training XP Multipliers         -->
  <!-- ////////////////////////////////////// -->

  <!-- Multiplier for all xp this mod gives to the player's party. -->
  <PlayerPartyTrainingXpMultiplier>0.75</PlayerPartyTrainingXpMultiplier>

  <!-- Multiplier for all xp this mod gives to AI parties in the player's clan. -->
  <PlayerClanPartyTrainingXpMultiplier>0.75</PlayerClanPartyTrainingXpMultiplier>

  <!-- Multiplier for all xp this mod gives to garrisons of player-owned settlements. -->
  <PlayerClanGarrisonTrainingXpMultiplier>1.0</PlayerClanGarrisonTrainingXpMultiplier>

  <!-- Multiplier for all xp this mod gives to AI parties not in the player's clan. -->
  <NonPlayerClanPartyTrainingXpMultiplier>0.75</NonPlayerClanPartyTrainingXpMultiplier>

  <!-- Multiplier for all xp this mod gives to garrisons of settlements not owned by the player. -->
  <NonPlayerClanGarrisonTrainingXpMultiplier>1.0</NonPlayerClanGarrisonTrainingXpMultiplier>

  <!-- ////////////////////////////////////// -->
  <!--              Tier Limits               -->
  <!-- ////////////////////////////////////// -->

  <!-- Max tier trained by a hero with neither training perk -->
  <BaseTrainingMaxTierTrained>1</BaseTrainingMaxTierTrained>

  <!-- Max tier trained by the Raise The Meek perk. -->
  <RaiseTheMeekMaxTierTrained>3</RaiseTheMeekMaxTierTrained>

  <!-- ////////////////////////////////////// -->
  <!--                   Misc                 -->
  <!-- ////////////////////////////////////// -->

  <!-- Training xp per troop for a hero with neither training perk. -->
  <BaseTrainingXpGain>5</BaseTrainingXpGain>

  <!-- For every level the trainer is above the troop, training xp is increased by X percent.  -->
  <LevelDifferenceFactor>6</LevelDifferenceFactor>

  <!-- For each skill level in leadership, training xp is increased by X percent. -->
  <LeadershipSkillFactor>0.4</LeadershipSkillFactor>

  <!-- How much xp a trainer has to train troops to get 1 leadership xp. -->
  <TrainingXpPerLeadershipXp>20.0</TrainingXpPerLeadershipXp>

  <!-- Whether wounded troops count toward group size during training. -->
  <WoundedReceiveTraining>false</WoundedReceiveTraining>

  <!-- Whether upgradeable troops count toward group size during training. -->
  <UpgradeableReceiveTraining>true</UpgradeableReceiveTraining>

  <!-- Whether this mod displays potential errors it finds while running. -->
  <DebugMode>true</DebugMode>

</TrainingTweak.Settings>
