<?xml version="1.0" encoding="utf-8"?>
<TrainingTweak.Settings>

  <!-- ////////////////////////////////////// -->
  <!--        Training XP Multipliers         -->
  <!-- ////////////////////////////////////// -->

  <!-- A multiplier for all training xp awarded to the player's party by this mod -->
  <PlayerPartyTrainingXpMultiplier>1.0</PlayerPartyTrainingXpMultiplier>

  <!-- A multiplier for all training xp awarded to AI parties owned by player -->
  <PlayerClanPartyTrainingXpMultiplier>1.0</PlayerClanPartyTrainingXpMultiplier>

  <!-- A multiplier for all training xp awarded to garrisons of settlements owned by player -->
  <PlayerClanGarrisonTrainingXpMultiplier>1.0</PlayerClanGarrisonTrainingXpMultiplier>

  <!-- A multiplier for all training xp awarded to AI parties not owned by player -->
  <NonPlayerClanPartyTrainingXpMultiplier>1.0</NonPlayerClanPartyTrainingXpMultiplier>

  <!-- A multiplier for all training xp awarded to garrisons of settlements not owned by player -->
  <NonPlayerClanGarrisonTrainingXpMultiplier>1.0</NonPlayerClanGarrisonTrainingXpMultiplier>
  
  <!-- ////////////////////////////////////// -->
  <!--            General Settings            -->
  <!-- ////////////////////////////////////// -->

  <!-- Training xp per troop for a hero with neither training perk. 
       Set to 0 to disable. 
  -->
  <BaseTrainingXpGain>5</BaseTrainingXpGain>

  <!-- Max tier trained by a hero with neither training perk -->
  <BaseTrainingMaxTierTrained>1</BaseTrainingMaxTierTrained>

  <!-- Max tier trained by Raise The Meek perk. -->
  <RaiseTheMeekMaxTierTrained>3</RaiseTheMeekMaxTierTrained>
  
  <!-- For every X levels the trainer is above the troop, the xp gain is increased by 100%.
       For example, if set to 5, a level 20 trainer training a level 10 troop will
       result in x3 experience gained.
       Set to 0 to disable. To take effect, must be at least 1.
  -->
  <LevelDifferenceMultiple>4</LevelDifferenceMultiple>
	
  <!-- How much xp a trainer has to train troops to get 1 leadership xp.  
       Can be set below 1, but that would mean a lot of leadership xp.
       Set to 0 to disable.
  -->
  <TrainingXpPerLeadershipXp>20.0</TrainingXpPerLeadershipXp>

  <!-- If false, wounded troops don't count toward the xp awarded to their group. -->
  <WoundedReceiveTraining>false</WoundedReceiveTraining>

  <!-- If false, upgradeable troops don't count toward the xp awarded to their group. -->
  <UpgradeableReceiveTraining>true</UpgradeableReceiveTraining>

</TrainingTweak.Settings>